{% extends "layout.html" %}

{% block title %}
    index
{% endblock %}

{% block main %}


<form method="post" id="body" action="/new_med" style="padding-right: 18vw; padding-top: 14vw; color: #305b75;" >

    <input class="form-control"id="med_code" name="med_code" autocomplete="off" placeholder="...الكود" type="number"  style=" margin-right: .3vw; text-align: center; margin-bottom: .5vw ;border-color: #305b75 ; width: 8.5vw ; height: 3vw ; font-size: 1vw ;border-radius: 1vw;color:black; background-color: white;" onChange="update()">
    <input class="form-control"id="med_sell" name="med_sell" autocomplete="off" placeholder="...سعر البيع" type="number"  style=" margin-right: .3vw; text-align: center; margin-bottom: .5vw ;border-color: #305b75 ; width: 8.5vw ; height: 3vw ; font-size: 1vw ;border-radius: 1vw;color:black; background-color: white;" onChange="update()">
    <input class="form-control"id="med_buy" name="med_buy" autocomplete="off" placeholder="...سعر الشراء" type="number"  style=" margin-right: .3vw; text-align: center; margin-bottom: .5vw ;border-color: #305b75 ; width: 8.5vw ; height: 3vw ; font-size: 1vw ;border-radius: 1vw;color:black; background-color: white;" onChange="update()" >
    <input class="form-control"id="med_name" name="med_name" autocomplete="off" placeholder="...الصنف" type="text"  style=" margin-right: .3vw; text-align: center; margin-bottom: 1.5vw ;margin-right:1.5vw ;border-color: #305b75 ; width: 14vw ; height: 3vw ; font-size: 1vw ;border-radius: 1vw;color:black; background-color: white;" onChange="update()" >

    <button class="btn btn-primary" type="submit" id="h" name="action" value="one" style= " border-radius: 1.5vw; margin-top: 1.5vw; font-size: 1.3vw; height: 3.5vw ; width: 10vw; background-color: #32ab40; border-color: #32ab40; font-family: 'Tajawal-Regular'; " disabled>اضافه</button>
</form>

<script>
    function update() { 
        

            if(document.getElementById("med_name").value !== ""){
                if(document.getElementById("med_buy").value !== ""){
                    if(document.getElementById("med_sell").value !== ""){
                        document.getElementById("h").disabled = false;
                    }
                    else {document.getElementById("h").disabled = true;}
                }
                else {document.getElementById("h").disabled = true;} 
            }
        

        else {document.getElementById("h").disabled = true;}
    };
    
    
</script>

{% endblock %}



